*{
    box-sizing: border-box;
}

html {
    -webkit-font-smothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
}

body {
    float: none;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

div {
    display: block;
}

.site-content {
    width: 96%;
}

header {
    align-items: center;
    background-color: #ffffff;
    border-bottom: 5px solid #f2f2f2;
    height: 100px;
    padding-bottom: 0px;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 30px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
}

nav {
    padding-left: 0%;
    padding-right: 0%;
    text-align: left;
    float: left;
    max-width: 100%;
    width: 30%;
    display: block;
}

nav .project-title:first-child, nav .gallery-title:first-child, nav .page-title:first-child, nav .logo:first-child {
    padding-left: 0 !important;
}

nav .page-title, nav .gallery-title, nav .project-title, nav .link-title, nav .social, nav .social li {
    display: inline-flex ;
    vertical-align: middle;
}

nav .gallery-title {
padding-right: 20px;
}

nav .gallery-title a.active {
    color: #191919;
    font-style: normal;
    font-weight: 500;
}

nav .gallery-title a {
    color: #999999;
    font-family: fbft;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

nav .page-title {
  padding-right: 20px;
  }

nav .page-title a:hover {
    color: #191919;
    transition:  color 0.2s ease;
}

nav .page-title a {
  color: #999999;
  font-family: fbft;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-decoration: none;
}

.logo {
  font-family: fbft;
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  padding: 0px 5%;
  text-align: center;
  width:40%;
}

.logo, .logo a {
  clear: both;
  overflow-wrap: break-word ;
  color: rgb(25, 25, 25);
  text-decoration: none;
}

.preserve-whitespace {
  white-space: pre-wrap;
}

.pf-nav {
width: 30%;
text-align: right;
font-size: 0px;
}

.site-main .site-main-inner {
    position: relative;

}

.main-section {
    max-width: 850px;
    padding: 50px;
    background-color: #ffffff;
    color: #333333;
}

.project-section {
    max-width: 1400px;
}

.main-title {
    line-height: 1;
    margin-bottom: 15px;
    color: #555;
}

.project-subtitle {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
}

.project-section .project-description {
    overflow: hidden;
    margin: 1em 0;
}



@media screen and (min-width: 768px){
    .project-section .project-descriptions .project-description:first-child {
        padding-right: 20px;
    }
    .project-section .project-descriptions .project-description {
        width: 50%;
        float: left;
    }
    .project-section .project-descriptions .project-description+.project-description {
        padding-left: 20px;
        border-left: 1px solid #ddd;
    }
    .project-section .project-images {
        width: 100%;
        float: left;
    }
}


.project-section .project-descriptions .project-description {
    position: relative;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

strong {
    font-weight: 500;
}ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.project-section .project-descriptions .project-description ul:not(.tech-icons):not(.tech-tags) {
    padding-left: 20px;
}

.button {
    padding: .4em .8em;
    line-height: 1;
    margin-right: 1em;
    display: inline-block;
}

.button.button-red {
    background-color: #AF2222;
    border: 1px solid #9a1e1e;
    color: #fff;
    padding: .7em 1.2em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;

}

.project-section .technologies-title {
    margin-top: 2em;
}
.technologies-title {
    font-size: 12px;
    text-transform: uppercase;
    color: #666;
    padding-bottom: .5em;
}


.project-section .project-images {
    margin-top: 2em;
    text-align: center;
}

.project-section .project-images img {
    max-width: 100%;
    margin-right: 1em;
    margin-bottom: 1em;
}

img, legend {
    border: 0;
}

a{
    text-decoration: none;
}
